DJANGO_SECRET_KEY="django-incredibly-secure-key-2u1bfiuwbubfiubn"
DEBUG=true
BACKEND_ALLOWED_HOSTS=["192.168.0.223", "127.0.0.1", "192.168.86.198"]

POSTGRES_PASSWORD="password"
POSTGRES_HOST="localhost"
POSTGRES_PORT=5432